* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

.grid {
  display: grid;
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.container {
  max-width: 122rem;
  width: 100%;
  margin: 0 auto;
}

.section-header .section-navbar {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
.section-header .section-navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-header .section-navbar .logo .logo-text {
  font-size: 3rem;
  font-weight: 600;
  color: #000000;
}
.section-header .section-navbar nav {
  margin-left: auto;
}
.section-header .section-navbar nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.8rem;
}
.section-header .section-navbar nav ul .nav-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
}
.section-header .section-navbar nav ul .nav-item img {
  width: 0.7rem;
  height: 0.5rem;
}
.section-header .section-navbar nav ul .mega-menu-parent {
  position: relative;
}
.section-header .section-navbar nav ul .mega-menu-parent:hover {
  color: #00a82d;
}
.section-header .section-navbar nav ul .mega-menu-parent:hover .mega-menu {
  display: flex;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu {
  position: absolute;
  top: 3.5rem;
  left: -25rem;
  width: 75.5rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  display: none;
  color: #000000;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .first-div {
  width: 24.8rem;
  padding: 2rem 1.5rem;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .first-div .mega-header {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .first-div .mega-para {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: auto;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .first-div img {
  width: 100%;
  height: auto;
  padding-top: 0.5rem;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .line {
  border-right: 2px solid black;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .second-div {
  padding: 2.5rem 1.5rem;
}
.section-header .section-navbar nav ul .mega-menu-parent .mega-menu .second-div .para-2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 4rem;
  padding-bottom: 3rem;
  line-height: 2.4rem;
}
.section-header .log-div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 4rem;
}
.section-header .log-div .log-para {
  font-size: 1.8rem;
  font-weight: 400;
}
.section-header .log-div button {
  padding: 1rem 3rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}/*# sourceMappingURL=desktop.css.map */