*, *::after,*::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html , body{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

p,li,a{
    font-size: 1.4rem;
    font-weight: 400;
    font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Manrope", sans-serif;
     color:  hsla(213, 56%, 21%, 1);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.grid{
    display: grid;
}

.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

.grid-three--cols{
    grid-template-columns: repeat( 3,1fr);
}

.grid-four--cols{
    grid-template-columns: repeat( 4,1fr);
}
.grid-five--cols{
    grid-template-columns: repeat( 5,1fr);
}


.section-gap{
      margin-top: 7rem;
}

button{
    border: none;
}

.btn{
    padding: 1.5rem 3rem;
    background-color: hsla(6, 86%, 69%, 1);
    color: hsla(0, 0%, 100%, 1);
    border-radius: 4px;
}

.container{
    max-width: 132rem;
    width: 100%;
    margin: 0 auto;
    
}

.date-div{
           display: flex;
           align-items: center;
           gap: 2rem;
           text-align: center;
         
           margin-top: 1rem;

            .user-div{
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: 1.3rem;    
                color: hsla(213, 8%, 46%, 1);
            }

            .fa-solid{
                font-size: 1.6rem;
            }
        }

        .name{
            width: 6.7rem;
            height: 2.6rem;
            background-color: hsla(6, 86%, 69%, 1);
            color: white;
            font-size: 1.3rem;
            font-weight: 600;
            text-align: center;
            padding-top: .5rem;
           
         }

        .line-div{
        height: 0.5rem;
         margin-top: 1rem;
        display: flex;
        align-items: center;
        width: 100%;
        

        .red-line{
            display: inline-block;
            width: 5%;
            height: 0.5rem;
            background-color: hsla(6, 86%, 69%, 1);
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                display: block;
                width: .5rem;
                top: 50%;
                bottom: 0%;
                height: 0.7rem;
                left: 95%;
                transform: translate(0%,-50%)  skew(-45deg);
                background-color: white;

                
            }
           
        }

        .white-line{
            display: inline-block;
            width: 100%;
            height: 0.5rem;
            border: 1px solid hsla(0, 0%, 87%, 1);
            position: relative;

                        &::after{
                content: "";
                position: absolute;
                display: block;
                width: .5rem;
                top: 50%;
                bottom: 0%;
                height: 0.7rem;
                left: 0%;
                transform: translate(0%,-50%)  skew(-45deg);
                background-color: white;

                
            }
        }
     }

    .name-1{
            width: 7.8rem;
            height: 2.6rem;
            border: 1px solid hsla(0, 0%, 100%, 0.3);
            border-radius: 0.3rem;
            font-size: 1.3rem;
            color: hsla(0, 0%, 100%, 1);
            padding: .7rem;
            margin-top: 1rem;

        }
    

    footer{
        width: 190rem;
        height: 53.6rem;
        background-color: hsla(213, 48%, 9%, 1);
        color: hsla(212, 39%, 81%, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .zara-div{
            margin-left: 9rem;
            .para{
                width: 26.4rem;
                height: 11.2rem;
                margin-top: 1.5rem;
            }
        }

        .footer-div--1{
             margin-left: 2rem;
             
            .header{
                font-size: 2rem;
                font-weight: 800;
                color: hsla(0, 0%, 100%, 1);
            }
            .red-line{
                width: 3.2rem;
                height: .5rem;
                background-color: hsla(6, 86%, 69%, 1);
                margin-top: 1rem;
                margin-bottom: 2rem;
            }

            li{
                font-size: 1.5rem;
                font-weight: 500;
                color: hsla(212, 39%, 81%, 1);
                margin-top: 1rem;
                text-transform: capitalize;
            }
        }

        hr{
            width: 192rem;
           border: 1px solid hsla(213, 33%, 19%, 1);
            color: hsla(213, 33%, 19%, 1);
            margin-top: 17rem;
        }
    }